# Visual Studio

*.iobj
*.ipdb
*.obj

#[Bb]in/
[Oo]bj/
*.user
*.suo
*.aps
*.pch
*.cache
*.VC.db
*.log
*.tlog
*.sln.docstates
*.opensdf
*.sdf
*.VC.VC.opendb

# binary file
*.exe
#*.dll
#*.lib
*.ilk
*.pdb
*.ipch
*.idb
*.exp
*.bsc

/msvc/SBAdemo/.vs/SBAdemo/
/msvc/SBAdemo/.vs/demo/
/msvc/SBAdemo/release/
/msvc/SBAdemo/debug/
/msvc/PBAdemo/.vs/demo/
/msvc/PBAdemo/release
/msvc/PBAdemo/debug/
/msvc/LCRPdemo/.vs/LCRPdemo/
/msvc/LCRPdemo/.vs/demo/
/msvc/LCRPdemo/.vs/SBAdemo/
/msvc/LCRPdemo/release/
/msvc/LCRPdemo/debug/