# Visual Studio
[Bb]in/
[Oo]bj/
*.user
*.suo
*.aps
*.pch
*.cache
*.VC.db
*.log
*.tlog
*.sln.docstates
*.opensdf
*.sdf
*.VC.VC.opendb

# binary file
*.exe
#*.dll
#*.lib
*.ilk
*.pdb
*.ipch
*.idb
*.exp
*.bsc
/msvc/SBAdemo/.vs/SBAdemo/
/msvc/SBAdemo/.vs/demo/
/msvc/PBAdemo/.vs/demo/
/msvc/LCRPdemo/.vs/LCRPdemo/
/msvc/LCRPdemo/.vs/demo/
/msvc/LCRPdemo/.vs/SBAdemo/